<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inventory.dao.RfidEventDao">

    <insert id="insert" parameterType="com.inventory.model.device.RfidEvent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rfid_event (product_id, event_type, location, esp32_id)
        VALUES (#{productId}, #{eventType}, #{location}, #{esp32Id})
    </insert>

</mapper>
