<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inventory.dao.ShelfDao">

    <select id="findById" resultType="com.inventory.model.store.Shelf">
        SELECT * FROM shelf WHERE id = #{id}
    </select>

    <update id="updateCurrentWeight">
        UPDATE shelf
        SET current_weight = #{currentWeight}
        WHERE id = #{shelfId}
    </update>

</mapper>
